.search {
    margin: 60px 20px;;
    width: 400px;
    border: 1px dotted green; 
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    float: right;
}

h1{
    color: blue;
    text-align: center;
}

.margin-top{
    margin-top: 10px;
}
.color {
    color:blue;
}
