<div >
  <h1 class="title">{{title}}</h1>
  <h3 class= "title">{{description}}</h3>

  <div class="ui-g">   
      <div class="ui-g-12 ui-md-2 ui-md-offset-5 ">
          <button pButton type="button" routerLink="customer" label="Customers"></button>
          <button pButton type="button" routerLink="add" label="Add" Class="ui-button-success"></button>
          <button pButton type="button" routerLink="findbyage" label="Search" Class="ui-button-danger"></button>
      </div>
  </div>


  
  <router-outlet></router-outlet>
  

</div>




